*,
*::before,
*::after {
  box-sizing: border-box;
}

// IE10+ doesn't honor `<meta name="viewport">` in some cases.
@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left;
  background-color: $body-bg;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

img{
  max-width: 100%;
  height: auto;
}